@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    background: rgb(102,45,145);
    background: linear-gradient(180deg, rgba(102,45,145,1) 0%, rgba(48,48,48,1) 20%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* overflow-x: hidden; */
    overflow-y: hidden;
    /* margin: 0 auto; */
}

#root {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
