.fileManager {
    overflow: auto;
    background-color: #303030;
    background: linear-gradient(180deg, #474747 0%, #303030 4%);
}

.fileManager-tree-root {
    padding-bottom: 5px;
    padding-top: 5px;
    color: #F2E6FF;
}

.fileManager-tree-node {
    position: relative;
    padding-top: 10px;
    padding-right: 5px;
    border-left: 3px solid #3D3D3D;
    color: #F2E6FF;
}

.fileManager-element-icon {
    vertical-align: middle;
    height: 26px;
}

.fileManager-element-text {
    vertical-align: middle;
    padding-left: 14px;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
