.terminal {
    position: relative;
    display: flex;
    border-left: 3px solid #474747;
    border-top: 3px solid #474747;
    width: 100%;
    height: 100%;
}

.terminal-textArea {
    width: 100%;
    background-color: #303030;
    border: none;
    outline: none;
    resize: none;

    color: #c2b7cf;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: medium;
}

.terminal-deleteButton {
    position: absolute;
    top: 60%;
    right: 5%;
}

.terminal-deleteButton-icon {
    height: 45px;
}

.terminal-deleteButton-noText {
    display: flex;
    height: 0;
    width: 0;
}
